
@model SGI.PI.Web.Models.LoginViewModel

@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div id="card-login" class="card">
        <div class="card-body">
            <img src="../assets/LOGOTIPO.png" class="card-img-top text-center" alt="Logotipo da CIMATECJr">
            <h5 class="card-title">SISTEMA DE GESTÃO INTERNA</h5>
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                <div class="form-group">
                    <label for="exampleInputEmail1" class="form-login">Email   </label>
                    @Html.TextBoxFor(a => a.Email)
                    <br />
                    <br />
                    <label for="exampleInputPassword1" class="form-login">Senha   </label>
                    @Html.TextBoxFor(a => a.Password, new { @type = "password" })
                </div>
                   
                    <input type="submit" value="Login"   id="btnLogin">
                }
            </section>
        </div>
    </div>
    <div class="container body-content">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Sistema de Gestão Interna CIMATEC Jr.</p>
        </footer>
    </div>
</body>
</html>

<style>

    #card-login {
        max-width: 25rem;
        background-color: #FFFFFF;
        opacity: 0.7;
        margin-top: 100px;
        margin-left: 750px;
    }

    .card-title {
        color: #000000;
        text-align: center;
        font-family: 'Noto Sans HK', sans-serif;
    }

    .card-img-top {
        width: 15rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .form-login {
        font-size: 15px;
        font-family: 'Noto Sans HK', sans-serif;
        color: #000000;
    }

    #btnLogin {
        font-size: 15px;
        background-color: #becde5;
        background-size: 100px 40px;
        border-radius:15px;
        border: none;
        margin-left: 200px;
        margin-top: 20px;
    }
</style>
